[submodule "third_party/dynarmic"]
    path = third_party/dynarmic
    url = https://github.com/0xNikilite/dynarmic.git
[submodule "third_party/ext-boost"]
    path = third_party/ext-boost
    url = https://github.com/0xNikilite/ext-boost.git
